header{
    background-color: rgb(70,130,180);
    color:white;
}

.imagem-1{
    width: 25%;
    align-items: center;
}


body {
    background-color: black;
}

h1 {
    font-size: 40 px;
    color: rgb(173,216,230);
    text-align: center;
}

.paragrafo-1 {
    font-size: 20px;
    color: white;
    text-align: center;
}

.subtitulo-1 {
    font-size: 40 px;
    color: rgb(173,216,230);
    text-align: center;
}

.listas {
    color:white;
}

.imagem-2{
    width: 25%;
    align-items: center;
    margin-left: 550px;
}